extends layout

block js
  script.
    let name = `#{name}`;
    let roomCode = `#{code}`;
    const questionPackNames = `#{questionPacks}`.split(',');

block main-title
  h1.font-important קוד חדר: #{code}

block content
  section.container#players
    .content.centered-text
      h2 ממתינים כרגע:
      ul#players-list
    .content#players-wait
      p.warning.text-sml יש להמתין עד שתהיו לפחות 3 שחקנים.
  section.container#options
    .content.centered-text
      h2 הגדרות המשחק:
    form#options-form(action=`/${code}/ingame`, method='post')
      fieldset(disabled='true')
        .row.text-sml
          .col-25
            label(for='question-pack') שאלות בנושא
          .col-65
            select#question-pack(style='display: none; !important')
              option.no-remove(selected, disabled, hidden, value='') בחר
              each questionPack in questionPacks
                option(value=`${questionPack}`, hidden) #{questionPack}
            ul#question-pack-list
          .col-10
            button.btn.add-button#add-pack-btn(type='button', style='display: none; !important', disabled) +
        .row.text-sml
          .col-25
            label(for='num-questions') מספר שאלות
          .col-75
            select#num-questions(name='num-questions', value='20', required)
              option.no-remove(disabled, selected, hidden, value='') בחר
              if devMode
                option.no-remove(value='1') 1
              option(value='5', hidden) 5 (לא מומלץ)
              - for(let num = 10; num <= 50; num += 5)
                option(value=`${num}`, hidden) #{num}
        input#selected-question-packs(type='hidden', name='selected-question-packs')
        .row.submit
          input.btn#start-game-btn(type='submit', disabled, style='display: none; !important', value='התחל משחק')